h1, h2 {
    background-color: darkslateblue;
    color: lightgreen;
    font-size: 28px;
    margin: auto;
    text-align: center;
    padding: 25px;
    opacity: 0.9;
}

p, ul, ol {
    background-color: floralwhite;
    font-size: 16px;
    margin: auto;
    text-align: center;
    padding: 25px;
    opacity: 0.9;
}

body {
    background-image: url('img/tilebg.gif');
    width: 80%;
    margin: 75px auto;
}
